@use './mixins';
@use './variables';

.helmet {
    padding: 80px 24px 80px 24px;
    background: variables.$main-color2;

    &__img-wrapper {
      position: relative;
      width: 312px;
      height: 576px;
      margin: 0 auto;
    }

    &__img-bg {
      width: 100%;
      height: 100%;
    }

    &__content-block {
        position: absolute;
        top: 24px;
        left: 24px;
        right: 24px;
        @include mixins.flex(flex, center, left);
        flex-direction: column;
    }
    
    &__content-block2 {
        display: none;
    }
    
    &__button2 {
        display: none;
    }
    
    &__logo-fyll {
        width: 100%;
        @include mixins.flex(flex, space-between, center);
    }

    &__logo {
     width: 72;
     height: 12px;
     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
    }

    &__fyll {
        color: variables.$apen-title-text;
        font-size: variables.$font-size12;
        font-weight: variables.$font-weight400;
        line-height: 150%;
        text-align: right;
    }

    &__title {
        color: variables.$main-color;
        font-size: variables.$font-size32;
        font-weight: variables.$font-weight700;
        line-height: 110%;
        text-align: left;
        margin-top: 32px;
    }

    &__sub-title {
        color: variables.$main-color;
        font-size: variables.$font-size16;
        font-weight: variables.$font-weight400;
        text-align: left;
    }

    &__button {
        width: 264px;
        height: 33px;
        border: 1px solid variables.$main-color;
        border-radius: 29px;
        background: transparent;
        color: variables.$main-color;
        font-size: variables.$font-size12;
        font-weight: variables.$font-weight500;
        text-align: center;
        @include mixins.flex(flex, center, center);
        margin-top: 24.72px;
        cursor: pointer;
    }


    &__line-descr1 {
        width: 72px;
        height: 20px;
        bottom: 272px;
        left: 8px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 80.19px;
            left: 43.9px;
            transform: rotate(-25.13deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: 14px;
        }
    }

    &__line-descr2 {
        width: 60px;
        height: 20px;
        left: 56px;
        bottom: 238px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 30.7px;
            left: 32.46px;
            transform: rotate(-16.99deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: 14px;
        }
    }

    &__line-descr3 {
        width: 59px;
        height: 10px;
        left: 115px;
        bottom: 286px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 68.54px;
            left: 22px;
            transform: rotate(-3.27deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: 16px;
        }
    }

    &__line-descr4 {
        width: 56px;
        height: 10px;
        left: 160px;
        bottom: 259px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 41.54px;
            left: 9px;
            transform: rotate(13.73deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: 16px;
        }
    }

    &__line-descr5 {
        width: 85px;
        height: 20px;
        left: 218px;
        bottom: 294px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 100.96px;
            left: 9px;
            transform: rotate(38.73deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: 10px;
        }
    }

    &__line-descr6 {
        width: 56px;
        height: 20px;
        left: 243px;
        bottom: 220px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 50.11px;
            left: -17px;
            transform: rotate(43.73deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: -7px;
        }
    }

    &__line-descr7 {
        width: 33px;
        height: 10px;
        left: 258px;
        bottom: 188px;
        @include mixins.lineDescrContent;
        &:after {
            content:'';
            position: absolute;
            height: 18.25px;
            left: -14px;
            transform: rotate(49.73deg);
            border: 1px solid variables.$line-color;
            opacity: 0.4;
            margin-top: 5px;
        }
    }

}

@media(min-width: 1440px) {
    .helmet {
        padding: 160px 28px 80px 28px;
        &__content-block {
            display: none;
        }

        &__img-wrapper {
          width: 1376px;
          height: 640px;
        } 

        &__content-block2 {
            position: absolute;
            top: 64px;
            left: 64px;
            right: 64px;
            @include mixins.flex(flex, center, left);
            flex-direction: column;
        }

        &__content {
            @include mixins.flex(flex, center, left);
            flex-direction: column;
        }

        &__logo2 {
            width: 192px;
            height: 32px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__title2 {
            width: 528px;
            color: variables.$main-color;
            font-size: variables.$font-size56;
            font-weight: variables.$font-weight700;
            line-height: 110%;
            text-align: left;
            margin-top: 64px;
        }

        &__sub-title2 {
            color: variables.$main-color;
            font-size: variables.$font-size24;
            font-weight: variables.$font-weight400;
            text-align: left;
            margin-top: 24px;
        }

        &__fyll2 {
            color: variables.$apen-title-text;
            font-size: variables.$font-size40;
            font-weight: variables.$font-weight400;
            line-height: 150%;
            text-align: left;
            margin-top: 193px;
        }

        &__button2 {
            position: absolute;
            right: 64px;
            bottom: 64px;
            width: 220px;
            height: 54px;
            border: 2px solid variables.$main-color;
            border-radius: 29px;
            background: transparent;
            color: variables.$main-color;
            font-size: variables.$font-size16;
            font-weight: variables.$font-weight500;
            text-align: center;
            @include mixins.flex(flex, center, center);
            margin-top: 24.72px;
            cursor: pointer;
        }

        &__line-descr1 {
            width: 219px;
            height: 21px;
            left: 494px;
            top: 122px;
            bottom: 0;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 92.5px;
                left: 99px;
                top: 15.26px;
                transform: rotate(-12.94deg);
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 33px;
            }
        }
    
        &__line-descr2 {
            width: 152px;
            height: 21px;
            left: 636px;
            top: 178px;
            bottom: 0;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 34.64px;
                left: 70px;
                top: 18.26px;
                transform: rotate(2.06deg);
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 26px;
            }
        }
    
        &__line-descr3 {
            width: 118px;
            height: 21px;
            left: 818.68px;
            top: 122px;
            bottom: 0;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 111.35px;
                left: 16px;
                transform: rotate(23.73deg);
                top: 25.26px;
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 12px;
            }
        }
    
        &__line-descr4 {
            height: 111px;
            left: 845px;
            top: 226px;
            bottom: 0;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 42.14px;
                left: 23px;
                top: 26.26px;
                transform: rotate(46.73deg);
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 1px;
            }
        }
    
        &__line-descr5 {
            width: 249px;
            height: 21px;
            left: 981.65px;
            top: 186px;
            bottom: 0;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 175.22px;
                left: 13px;
                top: 13.26px;
                transform: rotate(52.73deg);
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 0;
            }
        }
    
        &__line-descr6 {
            width: 156px;
            height: 21px;
            left: 1046px;
            top: 340px;
            bottom: 0;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 82px;
                left: -63px;
                top: 0.26px;
                transform: rotate(62.73deg);
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 0;
            }
        }
    
        &__line-descr7 {
            width: 65px;
            height: 21px;
            left: 1043px;
            bottom: 192px;
            @include mixins.lineDescrContent1440;
            &:after {
                content:'';
                position: absolute;
                height: 51.37px;
                left: -52px;
                top: 1.26px;
                transform: rotate(64.73deg);
                border: 1px solid variables.$line-color;
                opacity: 0.4;
                margin-top: 0;
            }
        }
    }
}