@use './variables';

@mixin flex ($flex, $jc, $ai) {
    display: $flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin lineDescrContent {
        position: absolute;
        color: variables.$primary-dark-green;
        font-size: variables.$font-size8;
        font-weight: variables.$font-weight400;
        line-height: 130%;
        text-align: center;
        text-transform: capitalize;
}

@mixin lineDescrContent1440 {
  position: absolute;
  color: variables.$primary-dark-green;
  font-size: variables.$font-size16;
  font-weight: variables.$font-weight400;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
}