@use './mixins';
@use './variables';

.trenger {
    padding-bottom: 115px;
    background: variables.$main-color;
    &__img-wrapper {
      position: relative;
      width: 100%;
      height: 640px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      position: absolute;
      padding: 0 24px 0 24px;
      bottom: 80px;
      @include mixins.flex(flex, center, flex-start);
      flex-direction: column;
    }

    &__title {
        color: variables.$text-color;
        font-size: variables.$font-size40;
        font-weight: variables.$font-weight400;
        line-height: 110%;
        text-align: left;
    }

    &__hightlight {
        font-weight: variables.$font-weight600;
    }

    &__text {
        color: variables.$text-color;
        font-size: variables.$font-size14;
        font-weight: variables.$font-weight400;
        line-height: 150%;
        text-align: left;
        margin-top: 24px;
    }

    &__button {
        width: 312px;
        height: 54px;
        border-radius: 29px;
        background: variables.$primary-button;
        cursor: pointer;
        @include mixins.flex(flex, center, center);
        text-align: center;
        color: variables.$main-color;
        font-size: variables.$font-size16;
        font-weight: variables.$font-weight500;
        margin-top: 32px;
        border: none;
    }
}

@media(min-width: 767px) {
    .trenger {
       
    &__content {
        position: absolute;
        padding: 0 0 118px 80px;
        bottom: 0;
      } 

    &__title {
        font-size: variables.$font-size56;
      }

    &__text {
        font-size: variables.$font-size16;
    }

    &__button {
        width: 256px;
    }

    }
}

@media(min-width: 991px) {
    .trenger {  
      &__content {
        width: 542px;
      } 

      &__button {
        transition: variables.$transition;
        &:hover {
            transition: variables.$transition;
            background: variables.$hover-main-button;
        }

        &:active {
            background: variables.$active-main-button;
        }
      }

    }
}

@media(min-width: 1440px) {
    .trenger {
        padding: 0 64px 160px 64px;
        &__content {
            width: 610px;
        } 

        &__title {
            font-size: variables.$font-size72;
        }

        &__button {
            margin-top: 40px;
        }
    }
}