// font-size 
$font-size8: 8px;
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size24: 24px;
$font-size32: 32px;
$font-size40: 40px;
$font-size48: 48px;
$font-size56: 56px;
$font-size72: 72px;
$font-size96: 96px;

// font-weight 
$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;

// transition
$transition: 0.2s all;

// colors
$link-color: #FFFFFF;
$bg-line-burger: #FFFFFF;
$button-header: #FFFFFF;
$border-header-button: #FFFFFF;
$text-color: #FFFFFF;
$link-bg: #FFFFFF;
$main-color: rgb(31, 74, 33);
$link-color-workers: rgb(11, 31, 46);
$text-color-sub-main: rgb(210, 219, 211);
$text-hightlight: rgb(186, 216, 98);
$primary-button: rgb(186, 216, 98);
$primary-button-text: rgb(31, 74, 33);
$video-border-color: rgb(140, 140, 140);
$bg-video-color: rgba(255, 255, 255, 0.08);
$vacancies-text: rgb(210, 219, 211);
$apen-bg: rgb(186, 216, 98);
$apen-title-text: rgb(31, 74, 33);
$omos-text: rgb(61, 74, 87);
$main-color2: rgb(234, 229, 218);
$line-color: rgb(112, 136, 107);
$baneservice-text-color: rgb(76, 104, 123);
$baneservice-border-color: rgb(154, 175, 187);
$hover-header-links: #b8b0b0;
$active-header-links: #c6c0c0;
$hover-second-button: rgb(186, 216, 98);
$active-second-button: rgb(136 163 57);
$hover-main-button:rgb(153 195 31);
$active-main-button: rgb(136 163 57);
$arrow-hover: #BAD862;
$footer-hover-link: rgb(186, 216, 98);;
$footer-active-link: rgb(67, 103, 59);