@use './mixins';
@use './variables';

.workers {
    background: variables.$main-color;
    padding: 72px 24px 1px 24px;
    position: relative;
    &__wrapper {
        @include mixins.flex(flex, left, center);
        flex-direction: column;
    }

    &__text-block {
        @include mixins.flex(flex, center, left);
        gap: 24px;
        flex-direction: column-reverse;
    }

    &__title {
        color: variables.$text-color;
        font-size: variables.$font-size32;
        font-weight: variables.$font-weight400;
        line-height: 110%;
        text-align: left;
    }

    &__hightlight {
        color: variables.$text-hightlight;
    }

    &__vacancies {
        width: 100px;
        height: 30px;
        @include mixins.flex(flex, center, center);
        text-align: center;
        border: 1px solid variables.$link-color;
        border-radius: 108px;
        text-decoration: none;
        color: variables.$link-color;
        font-size: variables.$font-size12;
        font-weight: variables.$font-weight400;
        line-height: 120%;
        text-transform: uppercase;
    }

    &__descr {
        color: variables.$vacancies-text;
        font-size: variables.$font-size18;
        font-weight: variables.$font-weight400;
        line-height: 140%;
        text-align: left;
        text-transform: capitalize;
        margin-top: 32px;
    }

    &__employees {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        margin-top: 66px;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }

    &__img {
       position: relative;
       width: 100%;
       height: 99.38%;
       img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
    }

    &__prof-block {
       position: absolute;
       @include mixins.flex(flex, center, left);
       flex-direction: column-reverse;
       top: 24px;
       left: 24px;
       gap: 16px;
    }

    &__prof-title {
        color: variables.$text-color;
        font-size: variables.$font-size24;
        font-weight: variables.$font-weight500;
        text-align: left;
        text-transform: capitalize;
    }

    &__category {
        width: 110px;
        height: 30px;
        @include mixins.flex(flex, center, center);
        text-align: center;
        border-radius: 108px;
        background: variables.$link-bg;
        color: variables.$link-color-workers;
        font-size: variables.$font-size12;
        font-weight: variables.$font-weight400;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__link {
        position: absolute;
        bottom: 25.5px;
        left: 18px;
        a {
            @include mixins.flex(flex, center, center);
            color: variables.$link-color;
            font-size: variables.$font-size14;
            font-weight: variables.$font-weight400;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            gap: 12px;
        }
    }

    &__apen {
        width: 100%;
        height: 368px;
        padding: 24px;
        background: variables.$apen-bg;
    }

    &__apen-logo {
        width: 120px;
        height: 20px;
        img {
            width: 100%;
            height: 100%; 
            object-fit: cover; 
        }
    }

    &__apen-content {
        margin-top: 134px;
    }

    &__apen-title {
        color: variables.$apen-title-text;
        font-size: variables.$font-size20;
        font-weight: variables.$font-weight500;
        text-align: left;
        text-transform: capitalize;
    }

    &__apen-text {
        color: variables.$apen-title-text;
        font-size: variables.$font-size14;
        font-weight: variables.$font-weight400;
        line-height: 150%;
        text-align: left;
        margin-top: 16px;
    }

    &__apen-button {
        width: 264px;
        height: 54px;
        @include mixins.flex(flex, center, center);
        text-align: center;
        color: variables.$apen-title-text;
        font-size: variables.$font-size16;
        font-weight: variables.$font-weight500;
        text-align: left;
        border: 1px solid variables.$apen-title-text;
        border-radius: 29px;
        cursor: pointer;
        background: transparent;
        margin-top: 32px;
    }

    &__lines {
        position: absolute;
        right: 0px;
        top: -69px;
        z-index: 1;
    }

    &__lines2 {
        display: none;
    }

}

@media(min-width: 575px) {
    .workers {
        &__employees {
            grid-template-columns: repeat(2, minmax(250px, auto));
        }

        &__apen {
           height: 100%;
        }

        &__apen-content {
           margin-top: 185px;
        }

        &__apen-button {
            width: 200px;
        }

    }
}

@media(min-width: 991px) {
    .workers {
        &__employees {
            grid-template-columns: repeat(2, minmax(450px, auto));
            grid-template-rows: repeat(3, 384px);
            position: relative;
            z-index: 3;
        }

        &__text-block {
            width: 100%;
            @include mixins.flex(flex, space-between, flex-start);
            gap: 24px;
            flex-direction: row;
        }

        &__apen {
           height: 100%;
        }
        
        &__vacancies {
            position: relative;
            z-index: 3;
            transition: variables.$transition;
            &:hover {
              transition: variables.$transition;
              background: variables.$hover-second-button;
            }
    
            &:active {
              background: variables.$active-second-button;
            }
        }
        
        &__apen-button {
            margin-top: 13px;
            transition: variables.$transition;
            &:hover {
                transition: variables.$transition;
                background: variables.$hover-main-button;
            }

            &:active {
                background: variables.$active-main-button;
            }
        }

        &__fyll {
            &:hover {
                svg {
                    transition: variables.$transition;
                    transform: translateX(20%);
                }
            }
        }

        &__category {
            transition: variables.$transition;
            &:hover {
                transition: variables.$transition;
                background: variables.$hover-second-button;
            }

            &:active {
                background: variables.$active-second-button;
            }
        }

    }
}

@media(min-width: 1199px) {
    .workers {
        &__employees {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 384px);
        }

        &__apen {
           height: 100%;
        }

        &__apen-button {
            margin-top: 13px;
        }

    }
}

@media(min-width: 1440px) {
    .workers {
        padding: 138px 55.5px 160px 55.5px;

        &__wrapper {
            @include mixins.flex(flex, left, flex-end);
            flex-direction: column;
        }

        &__descr {
            width: 872px;
            font-size: variables.$font-size20;
            margin-top: 32px;
            letter-spacing: 0;
            span {
                margin-left: 114px;
            }
        }

        &__img {
            height: 100%;
        }

        &__employees {
            grid-template-columns: 640px 640px;
            gap: 32px;
            margin-bottom: 0;
        }

        &__text-block {
            @include mixins.flex(flex, center, flex-start);
            gap: 202px;
            flex-direction: row;
        }

        &__title {
            width: 976px;
            font-size: variables.$font-size56;
        }

        &__prof-block {
            width: 588px;
            height: 44px;
            position: absolute;
            @include mixins.flex(flex, space-between, flex-start);
            flex-direction: row;
            top: 24px;
            left: 24px;
            gap: 16px;
        }

        
        &__prof-title {
            font-size: variables.$font-size40;
        }

        &__category {
            width: 140px;
            height: 33px;
            font-size: variables.$font-size14;
        }

        &__apen {
            padding: 32px;
        }

        &__apen-content {
            margin-top: 115px;
        }

        &__apen-title {
            font-size: variables.$font-size32;
        }
    
        &__apen-text {
            font-size: variables.$font-size16;
        }
    
        &__apen-button {
            width: 100%;
            height: 54px;
            margin-top: 32px;
        }

        &__br {
            display: none;
        }
        
        &__lines2 {
           display: block;
           position: absolute;
           top: -462px;
           right: 0px;
        }

        &__lines {
            display: none;
        }
    }
}

@media(min-width: 1920px) {
    .workers {
        &__prof-block {
            width: 93%;
        }
    }
}